{% extends 'base.html' %}
{% load mptt_tags %}

{% block body %}
    <ul>
        {% recursetree employees %}
            <li>
                {{ node.full_name }}
                {% if not node.is_leaf_node %}
                    <ul class="subordinates">
                        {{ children }} {{ children.position }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
<div class="pagination">
    <span class="step-links">
        {% if employees.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ employees.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ employees.number }} из {{ employees.paginator.num_pages }}.
        </span>

        {% if employees.has_next %}
            <a href="?page={{ employees.next_page_number }}">следующая</a>
            <a href="?page={{ employees.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

